<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.software.companion_device_setup" android:required="false" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_soundtag"
        android:theme="@style/AppTheme" android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NfcActivity" android:exported="true" android:theme="@android:style/Theme.NoDisplay"
            android:taskAffinity="" android:excludeFromRecents="true"
            android:permission="android.permission.DISPATCH_NFC_MESSAGE">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="soundtag" android:host="connect" />
                <data android:scheme="soundtag" android:host="disconnect" />
                <data android:scheme="soundtag" android:host="phone" />
            </intent-filter>
        </activity>
        <service android:name=".NfcService" android:exported="false"
            android:foregroundServiceType="connectedDevice" />
    </application>
</manifest>
